* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, whitesmoke, gray, black);
}

#container {
    padding: 5px 15px;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
}

.disabled {
    background-color: #BF5D62;
}

.enabled {
    background-color: #7dbf6c;
}

.currentTime {
    font-size: 50px;
}

.state {
    padding: 20px 10px;
    display: none;
    border: 1px solid black;
    border-radius: 5px 5px;
}