.state {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
}

.disabled {
    background-color: #BF5D62;
}

.enabled {
    background-color: #7dbf6c;
}

.currentTime {
    font-size: 50px;
}
